#correct {
	visibility: hidden;
	color: green;
}

#next {
	visibility: hidden;
}

#mapbutton {
	visibility: hidden;
}

#score {

}

#map {
    width: 500px;
    height: 400px;
    visibility: hidden;
}
